# Environnement virtuel
venv/

# Fichiers temporaires Python
__pycache__/
*.pyc
*.pyo

# Base de données locale
db.sqlite3

# Dossier des migrations compilées
*/migrations/__pycache__/

# Fichiers de configuration sensibles
*.env
.env

# Fichiers système
.DS_Store
Thumbs.db
